// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Main styles

.site-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(45deg, #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.site-header h1 {
    color: white;
}

.navbar {
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(45deg, #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.card {
  margin-bottom: 15px;
}